<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>
<h1>Django multiple file chunked upload</h1>
<a href="https://github.com/tcztzy/django-multiple-file-chunked-upload">this</a>
<form>
    <input id="dataset_name" type="text" title="dataset_name" placeholder="Enter the data set name.">
    <input id="fileupload" type="file" name="files" multiple="multiple">
    <button id="submit" type="button">Start Upload</button>
</form>
<script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'js/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/jquery.fileupload.js' %}"></script>
<script src="{% static 'js/spark-md5.min.js' %}"></script>
<script src="{% static 'upload/js/ajax_csrf.js' %}"></script>
<script src="{% static 'upload/js/main.js' %}"></script>
</body>
</html>